<!DOCTYPE html>
<html>
<head>
<title id="titulo">Guia Motos</title>
<meta charset="utf-8">
<link id="iconeTopo" rel="icon" href="../static/img/moto1.png">
<link rel=stylesheet href="../static/bootstrap/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Farro&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Anton|Beth+Ellen|Farro&display=swap"
	rel="stylesheet">
<link rel=stylesheet href="../static/css/login.css">
<link
	href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap"
	rel="stylesheet">      
</head>
    <header>
	<nav
		class="navbar navbar-dark .bg-dark navbar-expand-lg navbar-dark bg-primary">
		<img id="imagemLogoNav" src="../static/img/moto1.png"><a
			id="nomeTitulo" class="navbar-brand" href="{% url 'home' %}">Guia Motos</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSite">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</header>
    
    <body>
     <div class="container">  
        <form class="form-signin jumbotron col-md-12 col-lg-7 col-xs-12">
          <h1 class="h3 mb-3 font-weight-normal">Cadastrar</h1>
            <label id="labelCadastrar" for="exampleInputPassword1">Informe seu nome:</label>
          <input type="text" id="inputEmail" name="nome" class="form-control" required autofocus>
            <label id="labelCadastrar" for="exampleInputPassword1">Informe seu email:</label>
          <input type="email" id="inputEmail"name="email" class="form-control" required autofocus>
            <label id="labelCadastrar" for="exampleInputPassword1">Informe sua senha:</label>
          <input type="password" id="inputPassword" name="senha" class="form-control" required>
            <label id="labelCadastrar" for="exampleInputPassword1">Confirme sua senha:</label>
          <input type="password" id="inputPassword" name="senha" class="form-control" required>
        <button id="botaoEnviarCadastro" class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
        </form>
     </div>
 </body>
          
            
        
</html>