<!DOCTYPE html>
<html>
<head>
<title id="titulo">Guia Motos</title>
<meta charset="utf-8">
<link id="iconeTopo" rel="icon" href="Imagens/moto1.png">
<link rel=stylesheet href="bootstrap/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Farro&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Anton|Beth+Ellen|Farro&display=swap"
	rel="stylesheet">
<link rel=stylesheet href="css/detalheMoto.css">
<link
	href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap"
	rel="stylesheet">      
</head>
    <header>
	<nav
		class="navbar navbar-dark .bg-dark navbar-expand-lg navbar-dark bg-primary">
		<img id="imagemLogoNav" src="Imagens/moto1.png"><a
			id="nomeTitulo" class="navbar-brand" href="index.html">Guia Motos</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSite">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSite">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a id="navConfig" class="nav-link text-white" href="login.html">Login</a></li>
			</ul>
		</div>
	</nav>
</header>
    
    
<body>
<div class="container">

    <div id="show"class="row ">
    
<div  class="card col-md-4 col-lg-6 col-sm-6 col-xs-12 text-center" style="width: 18rem;">
  <img src="Imagens/moto1.png" class="card-img-top" alt="...">
  <div class="card-body">
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="text-align: center" scope="col" colspan="2">Moto X</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cilindradas</th>
      <td>x</td>
    </tr>
    <tr>
      <th scope="row">Peso</th>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Torque</th>
      <td>Y</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
<div class="card col-md-4 col-lg-6 col-sm-6 col-xs-12 text-center" style="width: 18rem;">
  <img src="Imagens/moto1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="text-align: center" scope="col" colspan="2">Moto Y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cilindradas</th>
      <td>x</td>
    </tr>
    <tr>
      <th scope="row">Peso</th>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Torque</th>
      <td>Y</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
        
       <div  id="DivtabelaComparar"class="card col-md-4 col-lg-12 col-sm-6 col-xs-12 text-center" style="width: 18rem;">
            <table class="table">
  <thead class="thead-dark">
    <tr>
        <th style="text-align: center" scope="col"></th>
      <th style="text-align: center" scope="col">Moto X</th>
      <th style="text-align: center" scope="col">Moto Y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cilindradas</th>
       <td style="color:red">10</td>
      <td style="color:lawngreen">20</td>
    </tr>
    <tr>
      <th scope="row">Peso</th>
        <td style="color:red">10</td>
       <td style="color:lawngreen">20</td>
    </tr>
    <tr>
      <th scope="row">Torque</th>
      <td style="color:red">10</td>
       <td style="color:lawngreen">20</td>
    </tr>
      
  </tbody>
</table>

        
        </div>
    </div><!-- /.row -->

    
</div>    
    <script src="js/jquery.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/configPage.js"></script>
 </body>  
</html>