<!DOCTYPE html>
<html>
    <head>
        <title id="titulo">Guia Motos</title>
<meta charset="utf-8">
<link id="iconeTopo" rel="icon" href="../static/img/moto1.png">
<link rel=stylesheet href="../static/bootstrap/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Farro&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Anton|Beth+Ellen|Farro&display=swap"
	rel="stylesheet">
<link rel=stylesheet href="../static/css/detalheMoto.css">
<link
	href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap"
  rel="stylesheet"> 
    </head>
    <header>
        <nav
            class="navbar navbar-dark .bg-dark navbar-expand-lg navbar-dark bg-primary">
     <img style="width: 12%;" src="../static/img/Logo.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSite">
            <ul class="navbar-nav ml-auto">
                {% if username == '' %}
                <li class="nav-item"><a id="navConfig" class="nav-link text-white" href="{% url 'login' %}">Login</a></li>
                {% else %}
                <li class="nav-item dropleft">
                    <a id="mensagemUsuarioLogado" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Olá:<strong id="nomeUsario">{{username}}</strong></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'configurarConta' %}">Configuração conta</a>
                        <a class="dropdown-item" href="{% url 'configurarConta' %}">Favoritos</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
        </nav>
    </header>
    <body>
    <div class="container">
        <br>
        <br>
        <h2>Seus Favoritos</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Montadora</th>
                  <th>Modelo</th>
                  <th>Ano</th>
                  <th style="text-align: center;">Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Honda</td>
                  <td>CG Bros 160</td>
                  <td>2012</td>
                  <td style="width: 20%; text-align: center;">
                    <button type="button" class="btn btn-primary btn-sm">Pesquisar novamente</button>
                  </td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div>
        </div>
    </body>
    <br>
    <footer class="container">
            <p class="float-right"><a href="#">Ir para o Inicio da Pagina</a></p>
            <p>© TCC - UNIP - GUIA MOTOS·</p>
    </footer>
           
            <script src="../static/js/jquery.js"></script>
            <script src="../static/js/popper.min.js"></script>
            <script src="../static/js/bootstrap.min.js"></script>
            <script src="../static/js/configPage.js"></script>    
</html>