<!DOCTYPE html>
<html>

<head>
    <title id="titulo">Guia Motos</title>
    <meta charset="utf-8">
    <link id="iconeTopo" rel="icon" href="../static/img/moto1.png">
    <link rel=stylesheet href="../static/bootstrap/css/bootstrap.css">
    <style>
        #arqFoto1,
        #arqFoto2 {
            text-align: center;
        }
        .colModelo1 {
    text-align: left;
    width: 40%;
}

.colItens {
    text-align: center;
}

.colModelo2 {
    text-align: right;
    width: 40%;
}

.itenModelo1 {
    text-align: left;
}

.itenEspecificacao {
    font-weight: bold;
    text-align: center;
}

.itenModelo2 {
    text-align: right;
}

.categorias ul {
    list-style: none;
    padding-left: 0px;
}
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-primary bg-primary">

            <a class="navbar-brand" id="btnhome" href="{% url 'home' %}">
                <img src="../static/img/Logo.png" width="120" class="d-inline-block align-top" alt="">
            </a>
            <form class="form-inline mt-2 mt-md-0">
                    {% if username == '' %}
                    <a href="{% url 'home' %}">
                        <button type="button" class="btn btn-dark">Home</button>&nbsp;&nbsp;
                    </a>
                    <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-dark">Fazer Login</button>
                    </a>

                    {% else %}
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" id="mensagemUsuarioLogado" href="{% url 'login' %}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong id="nomeUsario">{{username}}</strong>
                        </a>
                        <div  class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item"  style="font-size: 14px; padding-right: 0px; padding-left: 0px;text-align: center;"{% url 'configurarConta' %}">Configuração Conta</a>
                            <a class="dropdown-item" style="font-size: 14px; padding-right: 0px; padding-left: 0px;text-align: center;" href="{% url 'home' %}">Home</a>
                        <a class="dropdown-item" style="font-size: 14px; padding-right: 0px; padding-left: 0px;text-align: center;"href="{% url 'logout' %}">Sair</a>
                        </div>
                    </div>
                    {% endif %}
                    <a>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </a>
            </form>
        </nav>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <br>
            <h2>Seus Modelos Favoritos</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Montadora</th>
                            <th>Modelo</th>
                            <th>Ano</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody id="tabela">   
                        {% if id_logado == 0 %}
                            <td colspan="4">Faça login para visualizar seus modelos favoritos!</td>
                        {% elif not lista_favoritos is None %}
                            {% for favorito in lista_favoritos %}
                                <tr>
                                    <td>{{ favorito.montadora }}</td>
                                    <td>{{ favorito.modelo }}</td>
                                    <td>{{ favorito.ano_modelo }}</td>
                                    <td><a href="{% url 'exibir' favorito.montadora favorito.modelo favorito.ano_modelo %}">Visualizar Dados</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <td colspan="4">Nenhum favorito cadastrado!</td>
                        {% endif %}
                    </tbody>
                </table>
            <button type="button" class="btn btn-primary btn-sm"><a href="{% url 'exibir' %}" style="color:#fff; text-decoration: none;">Nova Pesquisa</a></button>
            </div>     
        </div>
    </div>
    <br>
    <footer class="container">
        <p class="float-right"><a href="#">Ir para o Inicio da Pagina</a></p>
        <p>© TCC - UNIP - GUIA MOTOS·</p>
    </footer>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/configPage.js"></script>
</body>
</html>