<!DOCTYPE html>
<html>
<head>
<title id="titulo">Guia Motos</title>
<meta charset="utf-8">
<link id="iconeTopo" rel="icon" href="../static/img/moto1.png">
<link rel=stylesheet href="../static/bootstrap/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Farro&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Anton|Beth+Ellen|Farro&display=swap"
	rel="stylesheet">
<link rel=stylesheet href="../static/css/login.css">
<link
	href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap"
	rel="stylesheet">      
</head>

    <body>
    <header>
        <nav
            class="navbar navbar-dark .bg-dark navbar-expand-lg navbar-dark bg-primary">
            <img id="imagemLogoNav" src="../static/img/moto1.png"><a
                id="nomeTitulo" class="navbar-brand" href="{% url 'home' %}">Guia Motos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
        
        
     <div class="container">
        <form class="form-signin jumbotron col-md-10 col-lg-6 col-xs-10">
          <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
            <label id="labelCadastrar" for="exampleInputPassword1">Informe seu email:</label>
          <label for="inputEmail" class="sr-only">Endereço de email</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Seu email" required autofocus>
            <label id="labelCadastrar" for="exampleInputPassword1">Informe seu email:</label>
          <label for="inputPassword" class="sr-only">Senha</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar de mim            
             <a class="col-xs-12" id="esqueciMinhaSenha" href="cadastrar.html">Esqueci a senha</a>
            </label>
             
          </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <p>Não é cadastrado? <a href="{% url 'cadastrar' %}">Crie uma conta</a></p>
        </form>
     </div>
 </body>           
        
</html>