{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <link id="iconeTopo" rel="icon" href="{% static "/img/moto1.png " %}">
    <title>Guia Motos</title>
    <link href="{% static "/css/bootstrap.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Farro&display=swap" rel="stylesheet">
    <link rel=stylesheet href="../static/bootstrap/css/bootstrap.css">
    <link href="{% static "/css/login.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Beth+Ellen|Farro&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-dark .bg-dark navbar-expand-lg navbar-dark bg-primary">
    <img style="width: 12%;" src="../static/img/Logo.png"><a id="nomeTitulo" class="navbar-brand" href="{% url 'home' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<body>
    <div class="container">
        {% block body %} 
        {% endblock %}
    </div>
</body>

</html>