{% extends "base_usuario.html" %} 
{% block body %}

<div id="form"class="jumbotron col-md-10 col-lg-6 col-xs-10">
    <form id="formLogin" class="form-signin" action="{% url 'esqueciSenha' %}" method="post" id="formulario" onsubmit="return validate()">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Reset senha</h1>
        <label for="formGroupExampleInput">Nome completo:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Exemplo: Joao da Silva" required=true>
        <label for="formGroupExampleInput">Email:</label>
        <input type="email" class="form-control" id="formGroupExampleInput" name="email" placeholder="Exemplo: usuario@gmail.com" required=true>
        <label id="labelCadastrar" for="exampleInputPassword1">Nova senha</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="*******" required>
        <label id="labelCadastrar" for="exampleInputPassword1">Confirmação de senha</label>
        <input type="password" id="inputPassword2" name="password2" class="form-control" placeholder="*******" required>
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="email" id="inputEmail" type="submit">Enviar</button>
        {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button> {{form.non_field_errors}}
        </div>
        {% endif %}
    </form>    
</div>

        
  <script>//Script para validar se as duas senhas digitadas conferem
      function validate(){
          
          var pass1 = document.getElementById('inputPassword').value;
          var pass2 = document.getElementById('inputPassword2').value;
      
          if (pass1 != pass2)
          {
              document.getElementById('inputPassword').value = "";
              document.getElementById('inputPassword2').value = "";
              document.getElementById('inputPassword').focus();
              alert("As senhas não conferem!")
              return false;
          }
          else
          {
              return true 
          }
      }
  </script>
{% endblock %}